cmake-build-debug/
cmake-build-release/
build/
bin/

Simulation
*.a
*.lib
*.so
*.dll
*.exe
*.o
*.obj

CMakeCache.txt
CMakeFiles/
CMakeConfigureLog.yaml
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
.cmake/

.idea/
*.iws
*.iml
*.ipr

imgui.ini

.DS_Store
Thumbs.db